/*
 * Author: efritioff & MoS 
 * @Date: 2025-10-03 09:08:55 
 * Last Modified by: MoS
 * @Last Modified time: 2025-10-03 09:09:31
 */

 * {
    /* border: 1px solid red; */
 }

 body {
    display: flex;
    justify-content: center;
    background-color: #eee;
 }

 #main {

 }

 #main {

 }

 #footer {
    height: 150px;
 }